body{
    color: #ffffff;
    background: url(/photo/peaky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.peaky{
    display: flex;
}
#ul{
    display: flex;
}
